% BGCOLORS = {'FATAL': '#FF0000', 'ERROR': '#FF1493', 'WARNING': '#8B8B00'}
<html>
<head>
    <title>Error Related Info</title>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
</head>
<body>
% if len(reasons) > 0:
    <span>
        <h2><b>Issue reasons:</b></h2>
        <br/>
%     for idx, r in enumerate(reasons):
%         reason_name = r[0]
        <table border="1">
            <caption style="text-align:left">
                <span style="color:red"><b>{{idx+1}}. {{reason_name}}</b></span>
%         action = r[1]
%         if not action is None and len(action) > 0:
                <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red"><b> Actions: </b></span>{{action}}
%         end
            </caption>
            <tr>
                <td><b>No.</b></td>
%         columns=r[2]
%         for cidx in range(len(columns)):
                <td><b>{{columns[cidx]}}</b></td>
%         end
            </tr>
%         rows=r[3]
%         for ridx in range(len(rows)):
%             row = rows[ridx]
            <tr>
                <td>{{ridx+1}}</td>
%             for cidx in range(len(row)):
                <td>{{row[cidx]}}</td>
%             end
            </tr>
%         end
        </table>
%     end
    </span>
    <br/>
% end

% if not messages is None:
    <span>
        <table border="1">
            <caption style="text-align:left"><b>/var/log/messages: {{messagespredicates}}</b></caption>
            <tr>
                <td><b>No.</b></td>
%     columns=messagescolumns
%     for cidx in range(len(columns)):
                <td><b>{{columns[cidx]}}</b></td>
%     end
            </tr>
%     rows=messages
%     for ridx in range(len(rows)):
%         row = rows[ridx]
            <tr>
                <td>{{ridx+1}}</td>
%         for cidx in range(len(row)):
                <td>{{row[cidx]}}</td>
%         end
            </tr>
%     end
        </table>
    </span>
    <br/>
% end

% if not verticalogs is None:
    <span>
        <table border="1">
            <caption style="text-align:left"><b>Vertica logs: {{verticalogpredicates}}</b></caption>
            <tr>
                <td><b>No.</b></td>
%     columns=verticalogcolumns
%     for cidx in range(len(columns)):
                <td><b>{{columns[cidx]}}</b></td>
%     end
            </tr>
%     rows=verticalogs
%     for ridx in range(len(rows)):
%         row = rows[ridx]
%         logtype = row[6] if (not row[6] is None and len(row[6]) > 0) else row[7]
%         bgcolor = '' if not logtype in BGCOLORS else BGCOLORS[logtype]
            <tr>
                <td bgcolor="{{bgcolor}}">{{ridx+1}}</td>
%         for cidx in range(len(row)):
                <td bgcolor="{{bgcolor}}">{{row[cidx]}}</td>
%         end
            </tr>
%     end
        </table>
    </span>
    <br/>
% end
</body>
</html>
